*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/gradlew
/gradle
/lib_v2/build
/gradlew.bat
/app/release/*.apk
/app/release/*.json
